{% extends 'qa/base.html' %}
{% block content %}
	<question>
    <h1>{{question.title}}</h1>
    <h2>{{question.author}}</h2>
    <p>{{question.text}}</p>
    <question>
    <ul>
        {% for answer in answers %}
            <li>{{ answer.text }} - {{answer.author}}</li>
        {% empty %}
            <li>Ответы ещё не добавлены</li>
        {% endfor %}
    </ul>
<!--{{ form.as_ul }} -->
{% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="/question/{{question.id}}/">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
            <div class="control-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}</div>
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn-primary">SAVE</button>
    </div>
</form>
{% endblock content %}
